h3{
    font-size: larger;color: brown;width: 30%;text-decoration: underline;
}
.blog{
    box-shadow: 10px 10px 10px violet;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: justify;
}
button{
    font-size: bold;color: black;background-color: gold;box-shadow: 10px 10px 10px black;
}
.css{
    background-color: burlywood;box-shadow: none;
}
header{
    height: 300px;background-color: burlywood;background-image: url("pasta.jpg");
}